html {
	background-color: #E0FBFC;
	font-family: 'Poppins', sans-serif;
}

body{
	font-family: 'Poppins', sans-serif;
	font-size: 2em;
	margin-top: 20px;
	border-radius: 10px;
	background-color: #E0FBFC;
}


.jumbotron {
	color: #070A0F;
	background-color: white;
	margin: 10px;
	padding-bottom: 5px;
	padding-top: 30px;

	
}

.row {
	padding: 20px;
	background-color: white;
	margin-bottom: 10px;
	border-radius: 10px;
	
}


h1 {
	font-family: 'Homemade Apple', cursive;
	color: #E0FBFC;
	font-size: 4em !important;
	margin-top: -35px;
	line-height: .95;

	-ms-transform: rotate(-9deg); /* IE 9 */
    -webkit-transform: rotate(-9deg); /* Chrome, Safari, Opera */
    transform: rotate(-9deg);
}

a {
	color: #0E98B7 !important;
}

.navbar .nav {
  	float: none;
    margin: 0 auto;
    display: table;
   	table-layout: fixed;
}

footer {
	color: #0E98B7;	
	font-size: 1.5em;
}


